body {
    background-color: lightgray;

}
.post {
background-color: #fff;
    border: 1px solid #878787;
    border-radius: 10px;
    padding: 10px;
}
.sandbox {
    display: none;
}
input.ng-invalid{
    background-color: #fbc4c4
}
.form-group p {
    color: red;
    font-weight: bold;
}
