<h2>posts</h2>

<form>
    <input type="text" placeholder="username" required>
    <input type="password" placeholder="password" maxlength="7" minlength="5" required=>
    <input type="text" placeholder="email" required="">
    <button type="submit">submit</button>
</form>


<button ng-click="postController.getPostList ()">clickme</button>
<ul>
    <li ng-repeat="post in postController.postList"] >
        <div class="post">
            <strong>Title: </strong>{{ post.title }}
            <strong>Description: </strong>{{ post.description }}
            <strong>Author: </strong>{{ post.author }}
            <button ng-click= 'postController.deletePost (post.id)'>Delete Post</button>
            <button ng-click= 'postController.editPost (post.id)'>Edit</button>
        </div>
    </li>
</ul>
<button ng-click='postController.getPost ()'>get a single post</button>
<button ng-click='postController.getPost (1)'>Get post 1</button>
<button ng-click='postController.getPost (2)'>Get post 2</button>
<button ng-click='postController.getPost (3)'>Get post 3</button>
<button ng-click= 'postController.deletePost ()'>Delete Post</button>
<div>
    <strong>title</strong>{{postsController.currentPost.title}}
    <strong>description</strong>{{postsController.currentPost.discrption}}
    <strong>author</strong>{{postsController.currentPost.author}}
</div>


<form ng-submit="postController.save ()">
    <input name="title" ng-model="postController.title"> <br>
    <input name="description" ng-model="postController.description"> <br>
    <input name="author" ng-model="postController.author"> <br>
    <button type="submit">Save Post</button>
</form>
