<h3>sample-form</h3>


<div class="btn-group">
    <button class="btn btn-primary"> button 1</button>
    <button class="btn"> button 2</button>
    <button class="btn"> button 3</button>
</div>

<button class="btn"> button 4</button>
<br>
<br>

<form>
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="email" placeholder="email here"required>
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd" placeholder="password yum yum yum!" maxlength="5">
  </div>
  <div class="checkbox">
    <label><input type="checkbox"> Remember me</label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
<i class="fa fa-money" aria-hidden="true"></i>
